
@{
    ViewBag.Title = "CreateStaff";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

<div class="row row-sm mg-b-20">
    <div class="br-section-wrapper">

        <h4>Create Staff</h4>
        @using (Html.BeginForm("CreateStaff","Company",FormMethod.Post))
        {
          <div class="form-layout form-layout-1">
          
              <div class="row mg-b-25">
                <!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Name: <span class="tx-danger">*</span></label>
                        <input class="form-control form-control-dark" type="text" name="Name" maxlength="35" value="" placeholder="Enter Name">
                    </div>
                </div><!-- col-4 -->
                <!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Surname: <span class="tx-danger">*</span></label>
                        <input class="form-control form-control-dark" type="text" required maxlength="35" name="Surname" value="" placeholder="Enter Surname">
                    </div>
                </div><!-- col-4 -->
                <!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Username: <span class="tx-danger">*</span></label>
                        <input class="form-control form-control-dark" type="text" name="Username" maxlength="35" required value="" placeholder="Enter Username">
                    </div>
                </div><!-- col-4 -->




                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Department: <span class="tx-danger">*</span></label>
                        <input class="form-control form-control-dark" type="text" maxlength="40" required name="Department" value="" placeholder="Enter Department">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Task: <span class="tx-danger">*</span></label>
                        <input class="form-control form-control-dark" type="text" required maxlength="35" name="Task" value="" placeholder="Enter Task">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Phone: <span class="tx-danger">*</span></label>
                        <input class="form-control form-control-dark" type="tel" name="Phone" required maxlength="12" value="" placeholder="Enter Phone">
                    </div>
                </div><!-- col-4 -->



                <div class="col-lg-4">
                    <div class="form-group mg-b-10-force">
                        <label class="form-control-label">Email Address: <span class="tx-danger">*</span></label>
                        <input class="form-control form-control-dark" type="email" required maxlength="50" name="Email" value="" placeholder="Enter Email">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group mg-b-10-force">
                        <label class="form-control-label">Password: <span class="tx-danger">*</span></label>
                        <input class="form-control form-control-dark" type="password" required maxlength="50" name="Password" value="" placeholder="Enter Password">
                    </div>
                </div><!-- col-4 -->
                <!-- col-4

                <div class="col-lg-4">
                    <div class="form-group mg-b-10-force">
                        <label class="form-control-label">Country: <span class="tx-danger">*</span></label>
                        <select class="form-control select2 select2-hidden-accessible" data-placeholder="Choose country" tabindex="-1" aria-hidden="true">
                            <option label="Choose country"></option>
                            <option value="USA">United States of America</option>
                            <option value="UK">United Kingdom</option>
                            <option value="China">China</option>
                            <option value="Japan">Japan</option>
                        </select><span class="select2 select2-container select2-container--default select2-container--above" dir="ltr" style="width: 272px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-377j-container"><span class="select2-selection__rendered" id="select2-377j-container"><span class="select2-selection__placeholder">Choose country</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                    </div>
                </div>  col-4 -->
            </div><!-- row -->

            <div class="form-layout-footer">
                <input type="submit" name="bt" class="btn btn-primary" value="Create" />
                <input type="reset" name="rsbt" class="btn btn-default" value="clear" />
            </div><!-- form-layout-footer -->
        </div>
        }
    </div>

</div>