
@{
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}


<h4>Blank Page (Default Layout)</h4>
<p class="mg-b-0">Introducing Bracket Plus admin template, the most handsome admin template of all time.</p>