@model IEnumerable<InventoryManagementEntity.Store>
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

<div class="br-pagetitle pd-0">
    <table class="pd-0">
        <tr>

            <td>
                <h4>Add Product</h4>
            </td>
        </tr>
    </table>



</div>

<div class="row row-sm mg-b-20">
    <div class="br-section-wrapper">

        @using (Html.BeginForm("Add", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-layout form-layout-1">

                <div class="row mg-b-25">
                    <!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">Product Code: <span class="tx-danger">*</span></label>
                            <input class="form-control form-control-dark" type="text" name="ProductCode" value="" placeholder="Enter ProductCode">
                        </div>
                    </div><!-- col-4 -->
                    <!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">Product Name: <span class="tx-danger">*</span></label>
                            <input class="form-control form-control-dark" type="text" required name="ProductName" value="" placeholder="Enter ProductName">
                        </div>
                    </div><!-- col-4 -->
                    <!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">Content: <span class="tx-danger">*</span></label>
                            <input class="form-control form-control-dark" type="text" name="Content" required value="" placeholder="Enter Content">
                        </div>
                    </div><!-- col-4 -->




                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">BarcodeCode: <span class="tx-danger">*</span></label>
                            <input class="form-control form-control-dark" type="text" required name="BarcodeCode" maxlength="11" minlength="11" value="" placeholder="Enter BarcodeCode">
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">BarcodeCode2: <span class="tx-danger">(Opsiyon)</span></label>
                            <input class="form-control form-control-dark" type="text" name="BarcodeCode2" value="" placeholder="Enter BarcodeCode">
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">ShelfNumber: <span class="tx-danger">*</span></label>
                            <input class="form-control form-control-dark" type="tel" name="ShelfNumber" required value="" placeholder="Enter ShelfNumber">
                        </div>
                    </div><!-- col-4 -->



                    <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">Pieces: <span class="tx-danger">*</span></label>
                            <input class="form-control form-control-dark" type="text" required name="Pieces" value="" placeholder="Enter Pieces">
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">MaxPieces: <span class="tx-danger">(Opsiyon)</span></label>
                            <input class="form-control form-control-dark" type="number" name="MaxPieces" value="" placeholder="Enter MaxPieces">
                        </div>
                    </div><!-- col-4 -->
                    <!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">MinPieces: <span class="tx-danger">(Opsiyon)</span></label>
                            <input class="form-control form-control-dark" type="number" name="MinPieces" value="" placeholder="Enter MinPieces">
                        </div>
                    </div><!-- col-4 -->
                    <!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">Price: <span class="tx-danger">*</span></label>
                            <input class="form-control form-control-dark" type="number" name="Price" value="" placeholder="Enter Price">
                        </div>
                    </div><!-- col-4 -->
                    <!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">TaxRate: <span class="tx-danger">(Opsiyon)</span></label>
                            <input class="form-control form-control-dark" type="number" name="TaxRate" value="" placeholder="Enter TaxRate">
                        </div>
                    </div><!-- col-4 -->
                    <!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">


                            <label class="form-control-label">Images: <span class="tx-danger">(Opsiyon)</span></label>
                            <label class="custom-file">
                                <input type="file" id="file2" name="Img" accept="image/x-png,image/gif,image/jpeg" class="custom-file-input">
                                <span class="custom-file-control custom-file-control-primary"></span>
                            </label>

                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">

                            <label class="form-control-label">Store: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" data-placeholder="Choose country" name="store" tabindex="-1" aria-hidden="true">
                                @foreach (var store in Model)
                                {
                                    <option value="@store.Id">@store.Name</option>
                                }


                            </select>

                        </div>
                    </div><!-- col-4 -->
                    <!-- col-4

                    <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">Country: <span class="tx-danger">*</span></label>
                            <select class="form-control select2 select2-hidden-accessible" data-placeholder="Choose country" tabindex="-1" aria-hidden="true">
                                <option label="Choose country"></option>
                                <option value="USA">United States of America</option>
                                <option value="UK">United Kingdom</option>
                                <option value="China">China</option>
                                <option value="Japan">Japan</option>
                            </select><span class="select2 select2-container select2-container--default select2-container--above" dir="ltr" style="width: 272px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-377j-container"><span class="select2-selection__rendered" id="select2-377j-container"><span class="select2-selection__placeholder">Choose country</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                        </div>
                    </div>  col-4 -->
                </div><!-- row -->

                <div class="form-layout-footer">
                    <input type="submit" name="bt" class="btn btn-primary" value="Add" />
                    <input type="reset" name="rsbt" class="btn btn-default" value="clear" />
                </div><!-- form-layout-footer -->
            </div>
        }
    </div>

</div>